@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family:'Alkatra' ;
  box-sizing: border-box;
}

.header:hover{
  color: antiquewhite;
}
.header {
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 7%;
  height: 5rem;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.logo {
  font-size: 2.6rem;
  font-weight: 700;
}
nav {
  background-color: aquamarine;
  display: grid;
  place-items: center;
}
nav ul {
  list-style-type: none;
}
nav ul a {
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  color: #000;
  transition: 0.2s ease-in;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 900;
}
nav ul a:hover {
  background: aquamarine;
  color: aliceblue;
   transform: scale(1.08);
}
.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px 20px;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
}
.item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.2s ease;
}
.item img:hover {
  transform: scale(1.04);
}
.item h4 {
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-family: Alkatra;
}
.item button {
  padding: 5px 30px;
  text-transform: uppercase;
  border: none;
  outline: none;
  background-color:green;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  font-size: 18px;
  display: block;
  margin: 0 auto;
  transition: 0.2s all;
}
.item button:hover {
  transform: scale(1.08);
}

.footer .top {
  background-color: antiquewhite;
  padding: 2rem 10%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.footer .top .links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.footer .bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  background-color: aquamarine;
}

.footer .top .content p {
  color: grey;
  margin-top: 2rem;
  width: 90%;
}

.footer .top .link h4 {
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
}

.footer .top .link a {
  display: inline-block;
  color: grey;
  margin-bottom: 1rem;
}

.footer .top .link span {
  color: grey;
}

.footer .top .link a {
  display: block;
}

.footer .top .link div {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.footer .top .link div img {
  margin-right: 1rem;
}

@media screen and (max-width: 1000px) {
  .items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .items {
    grid-template-columns: repeat(1, 1fr);
  }
}
