*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background: url(./image/imgaeback.jpg) no-repeat;
    background-size: cover;
    color: #fff;
}
h1 {
  text-align: center;
  color: antiquewhite;
  padding: 20px;
  cursor: pointer;
}
h1:hover{
  color: antiquewhite;
}
nav {
  background-color: aquamarine;
  display: grid;
  place-items: center;
}
nav ul {
  list-style-type: none;
}
nav ul a {
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  color: #000;
  transition: 0.2s ease-in;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 900;
}
nav ul a:hover {
  background-color: aquamarine;
  color: aliceblue;
}
.container1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:15px;
  min-height: 32vh;
  height: 10rem;
}
 .container2{
    display: flex;
  justify-content: center;
  align-items: center;
  padding:10px;
  min-height: 100v
 }
.order-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
}
.order-form h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}
.order-form p{
    font-size: 20px;
    margin: 15px 0;

}.order-form input{
    font-size: 16px;
    padding: 15px 10px;
    width: 200px;
    border-radius: 9px;
    border: 0;
    outline: none;
    font-weight: bold;
}
.order-form button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 50%;
    border-radius: 5px;
    text-transform: uppercase;
    align-items: center;
}
.order-form button:hover{
    color: aquamarine;
}
select{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 32px;
    width: 50%;
    border-radius: 5px;
}
option{
    text-transform: uppercase;
}
label{
    color: whitesmoke;
    font-weight: bold;
}
